body {
    background-color: white;
    font-family: georgia;
}

a {
    color: white;
    font-size: 20px;
    font-family: georgia;
}

a:hover {
    color: yellow;
}

#nav {
    position:absolute;
    float: left;
    margin:0 auto;
    height:75px;
    width:20%;
    top: 0;
    right: 80%;
    display: table-cell;
    z-index: 0;
    text-align: center;
    background-color: maroon;
    color: white;
}

#dropDown {
    position: fixed;
    float: left;
    height: 200px;
    width: 20%;
    top: 0;
    right: 80%;
    z-index: 1;
    text-align: center;
    background-color: maroon;
    color: white;
}

#header {
    position:absolute;
    float: right;
    margin:0 auto;
    height:75px;
    width:80%;
    top: 0;
    left: 23%;
    display: table-cell;
    z-index: 0;
    text-align:left;
    background-color: white;
    color: maroon;
}

#masthead {
    position: absolute;
    top: 1100px;
    text-align: center;
    color: black;
    z-index: 101;
    width: 100%;
    height: auto;
    font-family: georgia;
    font-size: 10px;
}

#descrip {
    position: absolute;
    top: 80px;
    left: 23%;
    width: 67%;
    font-family: georgia;
    color: black;
    padding: 10px;
}

p {
    padding: 5px;
}
