/* 
   Authors: Tom Lucy & Duncan Gans
   Date: 12/15/17
   
   This is the CSS file for the project description.

*/

body {
    background-color: white;
    font-family: georgia;
}

a {
    color: white;
    font-size: 20px;
    font-family: georgia;
}

/* style and position the navigation bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    border-bottom: black solid;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding:1px 16px;
    text-decoration: none;
}
 
li a:hover {
    background-color: #d3d3d3;
}

/* position the title */
#header {
    text-align: center;
}

/* position the text of the page */
#descrip {
    position: absolute;
    left: 12.5%;
    top: 160px;
    margin: 0 auto;
    width: 75%;
    font-family: georgia;
    color: black;
}

/* position the masthead at the bottom of the page */
#masthead {
    position: absolute;
    text-align: center;
    bottom: 10px;
    color: black;
    z-index: 101;
    width: 100%;
    height: auto;
    font-family: georgia;
    font-size: 10px;
}
