body {
    font-family: georgia;
    background-color: white;
}

a {
    color: white;
    font-size: 20px;
    font-family: georgia;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: maroon;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding:1px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */                            
li a:hover {
    background-color: #111;
}

#header {
    text-align: center;
}

text {
    font-family: georgia;
    fill: black;
}

.x_axis {
    fill: white;
}

.y_axis {
    fill: white;
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 90%; /* Full-width */
    height: 25px; /* Specified height */
    background: white; /* Grey background */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    z-index: 100;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}


.slider::-moz-range-thumb {
    width: 10px; /* Set a specific slider handle width */
    height: 10px; /* Slider handle height */
    background: maroon; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.button {
    background-color: maroon;
    border: 2px solid white;
    width: 150px;
    height: 50px;
    border-radius: 8px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    z-index: 105;
}

.button:hover {
  background-color: white;
  border: 2px solid maroon;
  color: maroon;
}

.wrapper {
    position: absolute;
    left: 1%;
    top: 30%;
}

.left {
    font-family: georgia;
    color: black;
    font-size: 12px;
}

#menu {
    z-index: 101;
    left: -210px;
    position: absolute;
    top:40px;
}

#BG {
    position:absolute;
    top: 15%;
    right: 0;
    margin:0 auto;
    height:auto;
    z-index: -1;
    font-family: georgia;
}

#CHL {
    position: absolute;
    top: 15%;
    left: 0;
    margin: 5 auto;
    height:auto;
    z-index: -1;
    text: georgia;
}

#controlsCHL {
    position:relative;
    float:left;
    top: 400px;
    right: -250px;
    margin: 0 auto;
    z-index: 100;
   
    background: white;
    color: black;
    outline: none;
    cursor: pointer;
    font-family: georgia;
    font-size: 12px;
}

#controlsBG {
    position: relative;
    float: right;
    top: 400px;
    left: -150px;
    margin: 0 auto;
    z-index: 100;

    background: white;
    color: black;
    outline: none;
    cursor: pointer;
    font-family: georiga;
    font-size: 12px;
}

#masthead {
    position: absolute;
    text-align: center;
    top: 675px;
    color: black;
    z-index: 101;
    width: 100%;
    height: auto;
    font-family: georgia;
    font-size: 10px;
}

#info {
    position: absolute;
    top: 610px;
    color: black;
    z-index: 101;
    left: 25%;
    width: 50%;
    height: auto;
    font-family: georgia;
    font-size: 12px;
}

span {
    color: #c76706;
}

#democrat {
    background-color: blue;
}

#republican {
    background-color: red;
}
