body {
    font-family: georgia;
    background-color: white;
}

a {
    color: white;
    font-size: 20px;
    font-family: georgia;
}

text {
    font-family: georgia;
    fill: black;
}

.x_axis {
    fill: white;
}

.y_axis {
    fill: white;
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 90%; /* Full-width */
    height: 25px; /* Specified height */
    background: white; /* Grey background */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    z-index: 100;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}


.slider::-moz-range-thumb {
    width: 10px; /* Set a specific slider handle width */
    height: 10px; /* Slider handle height */
    background: maroon; /* Green background */
    cursor: pointer; /* Cursor on hover */
}


.wrapper {
    position: absolute;
    top: 15%;
}

.left {
    font-family: georgia;
    color: black;
    font-size: 12px;
}

#menu {
    z-index: 101;
    left: -210px;
    position: absolute;
    top:40px;
}

#BG {
    position:absolute;
    right: 0;
    margin:0 auto;
    height:auto;
    z-index: -1;
    font-family: georgia;
}

#CHL {
    position: absolute;
    left: 0;
    margin: 5 auto;
    height:auto;
    z-index: -1;
    text: georgia;
}

#nav {
    position:absolute;
    float: left;
    margin:0 auto;
    height:75px;
    width:20%;
    top: 0;
    right: 80%;
    display: table-cell;
    z-index: 0;
    text-align: center;
    background-color: maroon;
    color: white;
}

#dropDown {
    position: fixed;
    float: left;
    height: 200px;
    width: 20%;
    top: 0;
    right: 80%;
    z-index: 1;
    text-align: center;
    background-color: maroon;
    color: white;
}

a:hover {
    color: yellow;
}

#header {
    position:absolute;
    float: right;
    margin:0 auto;
    height:75px;
    width:80%;
    top: 0;
    left: 23%;
    display: table-cell;
    z-index: 0;
    text-align:left;
    background-color: white;
    color: maroon;
}

#controlsCHL {
    position:relative;
    float: left;
    top: 480px;
    right: -250px;
    margin: 0 auto;
    z-index: 100;
   
    background: white;
    color: black;
    outline: none;
    cursor: pointer;
    font-family: georgia;
    font-size: 12px;
}

#controlsBG {
    position: relative;
    float: right;
    top: 480px;
    left: -150px;
    margin: 0 auto;
    z-index: 100;

    background: white;
    color: black;
    outline: none;
    cursor: pointer;
    font-family: georiga;
    font-size: 12px;
}

#masthead {
    position: absolute;
    text-align: center;
    bottom: 0;
    color: black;
    z-index: 101;
    width: 100%;
    height: auto;
    font-family: georgia;
    font-size: 10px;
}
